@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif !important;
}

:root {
    --primary-color: #404b67;
    --black-primary: #000000;
    --black-secondary: #000000cc;
    --black-transparent: #00000057;
    --white-primary: #ffffff;
    --official-gray: #aeaeae;
    --gray-light: #f5f8f9;
    --border-gray: #e6e6e6;
    --secondary-transparent: #fff5ed;
    --secondary-color: #e8eefc;
    --primary-transparent: #9cccf123;
    --link: #0000EE;
    --link-hover: #551A8B;
    --whatsapp-bg: #075E54;
    --whatsapp-chat: #25D366;
    --whatsapp-chat-bg: #ECE5DD;
}
.bg-light{
    background: var(--border-gray);
}

.bg-transparent{
    background: none;
}

p{
    font-size: 0.875rem;
    color: gray;
}

.btn{
    padding: 10px;
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
    font-size: 0.75rem;
}

table td,
table th{
    font-size: 0.875rem !important;
    padding: 15px !important;
    vertical-align: middle !important;
}
table b{
    font-size: 0.875rem ;
    font-weight: 600;
}
table p{
    margin-bottom: 0 !important;
}

.text-white{
    color: var(--white-primary);
}

.nav-link{
    font-size: 0.9rem;
}

.text-small {
    font-size: 0.775rem;
}

.bg-primary{
    background: var(--primary-color) !important;
}

.bg-white {
    background: var(--white-primary) !important;
}

.bg-gray {
    background: var(--gray-light) !important;
}

.form-control{
    padding: 10px;
    width: 100%;
    font-size: 0.75rem;
    border-radius: 0%;
    box-shadow: none !important;
    border: 1px solid var(--border-gray) !important;
}

.badge {
    background: var(--gray-light);
    color: var(--black-primary);
    font-weight: 400;
    padding: 10px;
    border: 0.02rem solid var(--border-gray);
    box-shadow: none !important;
    text-transform: capitalize !important;
    margin: 5px 10px;
    transition: 0.3s ease-in-out;
}

html {
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

.ml-auto {
    margin-left: auto !important;
}

.align-center {
    align-items: center;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.text-justify{
    text-align: justify;
}

.title-box .title-sub-title {
    background: var(--secondary-color);
    padding: 7px 22px;
    border-radius: 5px;
    display: inline-block;
}

.navbar-nav .dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item{
    padding: 10px;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
.dropdown-item.active, .dropdown-item:active{
    background: transparent !important;
    color: var(--primary-color);
}

.accordion-button {
    background: var(--gray-light) !important;
    font-size: 0.875rem !important;
}

.accordion-button:not(.collapsed) ,
.accordion-item:last-of-type .accordion-button.collapsed{
    background: var(--gray-light) !important;
    border-radius: 0 !important;
    box-shadow: none !important;

}
.accordion {
    --bs-accordion-btn-icon-width: 0.75rem !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.accordion-item {
    border: none !important;
    margin-top: 10px !important;
}

.accordion-header {
    cursor: pointer !important;
}

.accordion-header a {
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    color: var(--black-primary) !important;
}

.accordion-body p {
    font-size: 0.875rem !important;
    text-align: justify !important;
    color: gray !important;
}

.accordion:last-child {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

.accordion-body {
    border-top: 1px solid var(--official-gray) !important;
    background: var(--gray-light) !important;
    padding: 10px 15px 10px 15px !important;
}

/* Header-section Start */
.header-section .nav-item {
    color: var(--primary-color) !important;
    line-height: 26px;
    font-size: 0.785rem;
    text-transform: capitalize;
    transition: all 0.5s;
    background-color: transparent !important;
    margin: 0 10px;
    font-weight: 500;    
}
.header-section .navbar-expand-sm .navbar-nav{
    align-items: baseline;
}
/* Header-section End */

/* Banner Section Start */
.banner-section{
    background-image: url(../../images/abroad/background/bg-1.png);
    padding: 150px 0px 150px 0px;
    background-position: center;
}
.banner-section .image{
    height: 50ch;
    width: 100%;
}
.banner-section .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.banner-section .content{
    padding: 1em;
}
.banner-section .btn,
.header-section .btn-primary{
    background: var(--secondary-color) !important;
    color: var(--black-primary) !important;
    border: 1px solid var(--secondary-color) !important;
}
.home-form {
    background: var(--white-primary);
    padding: 20px 21px;
}
.home-form .form-control{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Banner Section End */


/* about Section Start */
.about-section .btn{
    background: var(--secondary-color) !important;
}
/* about Section End */


/* Service Section Start */
.service-box {
    padding: 36px 25px;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    background: var(--white-primary);
}
.service-box .service-icon {
    width: 66px;
    height: 66px;
    border-radius: 5px;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
}
.service-box .service-icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
/* Service Section End */


/* Country Section Start */
.countries-section .card{
    margin-bottom: 1em;
}
.countries-section .back-image img{
    height: 20ch;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(48% 100%, 100% 81%, 100% 0, 0 0, 0 80%); 
}
.countries-section .flag-image{
    height: 70px;
    width: 70px;
    margin-top: -3em;
    position: relative;
}
.countries-section .flag-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.countries-section a{
    color: var(--primary-color);
}
/* Country Section End */


/* Footer Section Start */
.footer-section a{
    font-size: 0.775rem;
    color: gray;
}
/* Footer Section End */



/* Searchbar COde Start */
.overlay-searchbox .searchbar {
    height: 100%;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 99999;
    top: 0;
    bottom: 0%;
    left: 0;
    background: var(--black-secondary);
}

.overlay-searchbox .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 999;
    font-size: 32px;
    cursor: pointer;
    color: var(--black-primary);
}

.overlay-searchbox input[type=text] {
    padding: 20px;
    border: none;
    width: 100%;
    outline: none;
    background: var(--white-primary);
}

.overlay-searchbox .search-data {
    overflow-x: auto;
    height: 100%;
    position: relative;
    background: var(--gray-light);
    padding: 1em 1em 5em 1em;
}

.overlay-searchbox .category-data .badge {
    margin: 5px;
    background: var(--white-primary);
}

.overlay-searchbox .searching-data {
    background: var(--white-primary);
    padding: 5px;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    align-items: center;
    margin-top: 5px;
}

.overlay-searchbox .image img{
    height: 50px;
    width: 50px;
    background: var(--white-primary);
    padding: 5px;
    object-fit: contain;
}

.overlay-searchbox .searching-data .text a{
    color: var(--primary-color);
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.overlay-searchbox .searching-data .text p{
    color: var(--balck-color);
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}
/* Searchbar COde End */


/* Marquee Section Start */
.marquee-section {
    background: var(--primary-transparent);
}

.marquee-section .card {
    width: 100%;
    min-width: auto;
    cursor: pointer;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-section .card .company-image {
    height: 20px;
}

.marquee-section .card .company-image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.marquee-section .marquee {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-bottom: 1rem;
    grid-column-gap: 1rem;
}

.marquee-section .marquee-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-column-gap: 1rem;
}

.marquee-section .scroll {
    animation: scroll 3s linear infinite;
}

.marquee-section .rscroll {
    animation: scroll 3s linear infinite reverse;
}

.marquee-section .msmall {
    min-width: fit-content;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes rscroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(+100% + 1rem));
    }
}

.modal-marquee .modal p {
    text-align: justify;
}

.modal-marquee .modal .btn {
    background: var(--secondary-color);
    color: var(--black-primary);
    border-color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

/* Marquee Section End */


/* Breadcrumb Section */
.breadcrumb-section{
    background-image: url(https://www.see.cam/img/countries-states.jpg);
    height: 25ch;
    background-size: cover;
    position: relative;
}
.breadcrumb-section .overlay{
    height: 25ch;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.865), rgba(14, 14, 14, 0.477));
}
.breadcrumb-section .heading{
    z-index: 999;
    position: relative;
    color: var(--white-primary);
}
/* Breadcrumb Section */


/* Detail Overview Section Start */
.detail-overview .form-section .btn{
    background: var(--primary-color) !important;
    border: none !important;
}
.detail-overview hr{
    border-color: var(--official-gray);
}
.detail-overview .detail p{
    margin-bottom: 10px;
}
.detail-overview .detail ul li,
.detail-overview .detail ul ol{
    font-size: 0.875rem;
    margin-bottom: 5px;
    color: gray;
}
.detail-overview .detail .image,
.detail-overview .detail .video{
    height: 25ch;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}
.detail-overview .detail .image img,
.detail-overview .detail .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Detail Overview Section End */