@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    text-decoration: none !important;
}

:root {
    --primary-color: #404b67;
    --black-primary: #000000;
    --black-secondary: #000000cc;
    --black-transparent: #00000057;
    --white-primary: #ffffff;
    --official-gray: #aeaeae;
    --gray-light: #f5f8f9;
    --border-gray: #e6e6e6;
    --secondary-transparent: #fff5ed;
    --secondary-color: #e8eefc;
    --primary-transparent: #9cccf123;
    --link: #0000EE;
    --link-hover: #551A8B;
    --whatsapp-bg: #075E54;
    --whatsapp-chat: #25D366;
    --whatsapp-chat-bg: #ECE5DD;
}
.bg-light{
    background: var(--border-gray);
}

.bg-transparent{
    background: none;
}

p{
    font-size: 0.875rem;
    color: gray;
}

.btn{
    padding: 10px;
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
    font-size: 0.75rem;
}

.text-white{
    color: var(--white-primary);
}

.nav-link{
    font-size: 0.9rem;
}

.text-small {
    font-size: 0.775rem;
}

.bg-primary{
    background: var(--primary-color) !important;
}

.bg-white {
    background: var(--white-primary) !important;
}

.bg-gray {
    background: var(--gray-light) !important;
}

.form-control{
    padding: 10px;
    width: 100%;
    font-size: 0.75rem;
    border-radius: 0%;
    box-shadow: none !important;
    border: 1px solid var(--border-gray) !important;
}

html {
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

.ml-auto {
    margin-left: auto !important;
}

.align-center {
    align-items: center;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.text-justify{
    text-align: justify;
}

.title-box .title-sub-title {
    background: var(--secondary-color);
    padding: 7px 22px;
    border-radius: 5px;
    display: inline-block;
}

.navbar-nav .dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.dropdown-item{
    padding: 10px;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
.dropdown-item.active, .dropdown-item:active{
    background: transparent !important;
    color: var(--primary-color);
}


/* Header-section Start */
.nav-item {
    color: var(--primary-color) !important;
    line-height: 26px;
    font-size: 0.785rem;
    text-transform: capitalize;
    transition: all 0.5s;
    background-color: transparent !important;
    margin: 0 10px;
    font-weight: 500;    
}
/* Header-section End */

/* Banner Section Start */
.banner-section{
    background-image: url(../../images/abroad/background/bg-1.png);
    padding: 150px 0px 150px 0px;
    background-position: center;
}
.banner-section .image{
    height: 50ch;
    width: 100%;
}
.banner-section .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.banner-section .content{
    padding: 1em;
}
.banner-section .btn,
.header-section .btn-primary{
    background: var(--secondary-color) !important;
    color: var(--black-primary) !important;
    border: 1px solid var(--secondary-color) !important;
}
.home-form {
    background: var(--white-primary);
    padding: 20px 21px;
}
/* Banner Section End */


/* about Section Start */
.about-section .btn{
    background: var(--secondary-color) !important;
}
/* about Section End */


/* Service Section Start */
.service-box {
    padding: 36px 25px;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    background: var(--white-primary);
}
.service-box .service-icon {
    width: 66px;
    height: 66px;
    border-radius: 5px;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
}
.service-box .service-icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
/* Service Section End */


/* Country Section Start */
.countries-section .back-image img{
    height: 20ch;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(48% 100%, 100% 81%, 100% 0, 0 0, 0 80%); 
}
.countries-section .flag-image{
    height: 70px;
    width: 70px;
    margin-top: -3em;
    position: relative;
}
.countries-section .flag-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.countries-section a{
    color: var(--primary-color);
}
/* Country Section End */


/* Footer Section Start */
.footer-section a{
    font-size: 0.775rem;
    color: gray;
}
/* Footer Section End */