:root {
    --primary-color: #404b67;
    --black-primary: #000000;
    --black-secondary: #000000cc;
    --black-transparent: #00000057;
    --white-primary: #ffffff;
    --official-gray: #aeaeae;
    --gray-light: #f5f8f9;
    --border-gray: #e6e6e6;
    --secondary-transparent: #fff5ed;
    --secondary-color: #e8eefc;
    --primary-transparent: #9cccf123;
    --link: #0000EE;
    --link-hover: #551A8B;
    --whatsapp-bg: #075E54;
    --whatsapp-chat: #25D366;
    --whatsapp-chat-bg: #ECE5DD;
}

@media only screen and (max-width : 767px) {
    .mobile-none{
        display: none;
    }
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p{
        font-size: 0.75rem;
    }

    .p-5{
        padding: 1rem !important;
    }
    section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navbar-nav{
        background: var(--secondary-color);
    }
    .navbar-nav .dropdown-menu{
        background: var(--primary-color);
    }
    .dropdown-item{
        color: var(--white-primary);
    }
    
    /* Banner Start */
    .banner-section{
        padding: 80px 0px 0px 0px;
    }
}

@media only screen and (min-width : 767px){
    .desktop-none{
        display: none;
    }
}

/* IPAD PRO PORTRAIT */
@media only screen and (device-height : 1366px) and (device-width : 1024px) and (orientation: portrait){
        h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p{
        font-size: 0.75rem;
    }

    .p-5{
        padding: 1rem !important;
    }
}

/* IPAD LANDSCAPE */
@media only screen and (device-width : 1024px) and (device-height : 768px) and (orientation: landscape) {
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p{
        font-size: 0.75rem;
    }

    .p-5{
        padding: 1rem !important;
    }
}