:root {
    --primary-color: #404b67;
    --black-primary: #000000;
    --black-secondary: #000000cc;
    --black-transparent: #00000057;
    --white-primary: #ffffff;
    --official-gray: #aeaeae;
    --gray-light: #f5f8f9;
    --border-gray: #e6e6e6;
    --secondary-transparent: #fff5ed;
    --secondary-color: #e8eefc;
    --primary-transparent: #9cccf123;
    --link: #0000EE;
    --link-hover: #551A8B;
    --whatsapp-bg: #075E54;
    --whatsapp-chat: #25D366;
    --whatsapp-chat-bg: #ECE5DD;
}

@media only screen and (max-width : 767px) {
    .mobile-none {
        display: none;
    }

    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p {
        font-size: 0.75rem !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    b{
        font-weight: 500 !important;
        font-size: 0.75rem !important;
    }

    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .table-responsive{
        white-space: nowrap;
    }


    /* Header-section */
    .header-section .navbar-nav {
        background: var(--secondary-color);
    }

    .header-section .navbar-nav .dropdown-menu {
        background: var(--primary-color);
    }

    .header-section .dropdown-item {
        color: var(--white-primary);
    }

    /* Banner Start */
    .banner-section {
        padding: 80px 0px 30px 0px;
    }
    .banner-section .image{
        height: 35ch;
    }


    /* Services Section */
    .service-box{
        padding: 15px 15px !important;
        margin-bottom: 10px;
    }

    .countries-section .back-image img{
        height: 12ch;
    }

    .countries-section .flag-image{
        height: 50px;
        width: 50px;
        margin-top: -2em;
    }

    .countries-section .detail p{
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
    }


    /* Detail Overview */
    .breadcrumb-section .heading{
        padding-top: 4.5em  ;
    }
    .breadcrumb-section .heading h2{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .breadcrumb-section .overlay,
    .breadcrumb-section{
        height: 25ch;
    }
    .detail-overview .detail ul li,
    .detail-overview .detail ul ol{
        font-size: 0.75rem !important;
    }
    .accordion-header a{
        font-size: 0.75rem !important;

    }
}

@media only screen and (min-width : 767px) {
    .desktop-none {
        display: none;
    }
}

/* IPAD PRO PORTRAIT */
@media only screen and (device-height : 1366px) and (device-width : 1024px) and (orientation: portrait) {
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p {
        font-size: 0.75rem !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    /* Countries Section */
    .countries-section .back-image img{
        height: 15ch;
    }

}

/* IPAD LANDSCAPE */
@media only screen and (device-width : 1024px) and (device-height : 768px) and (orientation: landscape) {
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p {
        font-size: 0.75rem !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    /* Countries Section */
    .countries-section .back-image img{
        height: 15ch;
    }
}

/* IPAD PORTRAIT */
@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation: portrait) {
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h5 {
        font-size: .83em !important;
    }

    h6 {
        font-size: .75em !important;
    }

    p {
        font-size: 0.75rem !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    /* Header Section */
    .header-section .nav-item{
        margin: 0 5px;
    }
    .header-section .nav-link{
        font-size: 0.6rem;
    }


    /* Countries Section */
    .countries-section .back-image img{
        height: 15ch;
    }
}